---
import { getCollection } from "astro:content";
import dayjs from "dayjs";

import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import PageLayout from "../../layouts/PageLayout.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<PageLayout>
    <main>
        <div class="mx-auto max-w-2xl">
            <h1>
                {SITE_TITLE}
            </h1>
            <p class="mt-2 text-xl/8 text-gray-500">
                {SITE_DESCRIPTION}
            </p>
            <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
                {
                    posts.map((post) => (
                        <article class="flex max-w-xl flex-col items-start justify-between">
                            <h3>
                                <a href={`/blog/${post.id}`}>{post.data.title}</a>
                            </h3>

                            <time date-time={post.data.pubDate} class="text-neutral-500 text-sm">
                                {dayjs(post.data.pubDate).format("DD MMM, YYYY")}
                            </time>

                            <p class="mt-5 line-clamp-3 text-base/6 text-neutral-600">{post.data.description}</p>
                        </article>
                    ))
                }
            </div>
        </div>
    </main>
</PageLayout>
